@charset "utf-8";

// Colors
$primary: #001d44; // Midnight
$info: #032d66;
$link: #1660c8;
$warning: #ffe000;
$danger: #e43f6f;

// Fonts
$family-sans-serif: "Fira Sans", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;
$title-family-sans-serif: "Oxygen", $family-sans-serif;

// Font Sizes
$body-size: 1.1rem;
$footer-size: 1rem;

$size-1: 3.5rem;
$size-2: 3rem;
$size-3: 2.5rem;
$size-4: 2rem;
$size-5: 1.75rem;
$size-6: 1.25rem;
$size-7: 1.1rem;

// Navbar Customization
$navbar-item-padding-vertical: 1.25rem;
$navbar-item-padding-horizontal: 1.25rem;

$navbar-background-color: $primary;
$navbar-item-color: white;
$navbar-item-active-color: white;
$navbar-item-hover-color: $navbar-item-active-color;
$navbar-item-hover-background-color: transparent;

// Panel Customization
$panel-heading-size: 1.1em;

$radius-small: 8px;
$radius: 10px;
$radius-large: 12px;

@import "../node_modules/bulma/bulma.sass";

// Custom Global Styles

html {
  scroll-behavior: smooth;
}

// Change Bulma defaults for the entire body
body {
  font-size: $body-size;
}

// Make the title/subtitle font different from the body
.title,
.subtitle {
  font-family: $title-family-sans-serif;
}

.navbar-burger {
  height: unset;
}

.navbar-item,
.navbar-link {
  padding: $navbar-item-padding-vertical $navbar-item-padding-horizontal;
}

.navbar-brand {
  font-family: $title-family-sans-serif;
  font-weight: bold;
}

// Underline on hover or .is-active
.underline-holder {
  >span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: white;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.25s ease-in-out 0s;
    }
  }

  &:hover>span::before,
  &.is-active>span::before {
    visibility: visible;
    transform: scaleX(1);
  }
}