---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found">
  <main>
    <section class="bg-amber-300 text-gray-800">
      <div
        class="container mx-auto w-4/5 max-w-7xl space-y-5 px-11 pb-20 pt-36 font-title lg:pb-10 lg:pt-36"
      >
        <h1 class="text-2xl font-semibold md:text-5xl lg:text-6xl">
          Page Not Found
        </h1>
      </div>
    </section>
    <section class="container mx-auto w-4/5 max-w-7xl p-11">
      <p class="mb-8">
        The page you are looking for doesn't exist, or has been moved!
      </p>
      <a
        href="/"
        rel="prefetch"
        class="rounded-lg border bg-amber-300 px-8 py-3 text-gray-800"
        >Go Home</a
      >
    </section>
  </main>
</BaseLayout>
