---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="section">
    <div class="container">
      <h1 class="title">Page Not Found</h1>
      <p class="mb-5">
        The page you are looking for doesn't exist, or has been moved!
      </p>
      <a href="/" class="button is-link">Home</a>
    </div>
  </section>
</BaseLayout>
