---
import Columns from "../components/Columns.astro";
import PageHero from "../components/PageHero.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About Me">
  <PageHero
    title="About Me"
    subtitle="Learn more about the founder of Matranga Development"
  />
  <Section>
    <Columns>
      <div class="w-full flex-[2]">
        <div>
          <p class="mb-5 text-2xl font-semibold">
            👋 Hello! My name is Frank Matranga, and I'm a software engineer,
            open source developer, and Computer Science teacher in Troy, NY.
          </p>

          <p class="mb-5">
            I earned a dual degree in Information Technology and Web Science &
            Computer Science from Rensselaer Polytechnic Institute in 2022, and
            I currently work as a software engineer in the financial technology
            field for
            <a
              href="https://one.app"
              target="_blank"
              class="font-semibold text-amber-500">ONE</a
            >.
          </p>

          <p class="mb-5">
            I've taught Computer Science for 7 years, have developed open source
            software for 9 years, and have been developing fundraising software
            for nonprofits in my hometown of The Bronx for the past 3 years.
          </p>

          <p class="mb-5">
            After living in the Capital Region during my studies at RPI, I've
            come to love and appreciate the area and its communities. I'm
            seeking to give back to those communities by offering my services
            inexpensively to local families, small businesses, and nonprofits.
          </p>

          <p class="mb-10">
            As a full stack software engineer and general technologist, I can
            wear many hats. Besides software development, I can offer the
            graphic design, user interface design, image editing, audio editing,
            video editing, online advertising, database management, and testing
            that's needed to get projects to the finish line.
          </p>
        </div>

        <a
          class="mr-4 inline-block rounded-lg bg-amber-300 px-8 py-3 font-semibold text-gray-800"
          href="https://www.linkedin.com/in/frank-matranga/"
          target="_blank"
        >
          <span class="icon"> </span>
          <span>My LinkedIn</span>
        </a>

        <a
          class="inline-block rounded-lg bg-amber-300 px-8 py-3 font-semibold text-gray-800"
          href="https://github.com/Apexal"
          target="_blank"
        >
          <span class="icon"> </span>
          <span>My GitHub</span>
        </a>
      </div>
      <div class="w-full flex-1">
        <img
          width="350px"
          src="/assets/Matranga_Frank_web.jpg"
          alt="Headshot of Frank Matranga"
          class="mx-auto rounded-lg"
        />
      </div>
    </Columns>
  </Section>
</BaseLayout>
