---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Coming Soon">
  <section class="bg-amber-300 text-gray-800">
    <div
      class="container mx-auto w-4/5 max-w-7xl space-y-5 pb-20 pt-36 font-title lg:px-11 lg:pb-10 lg:pt-36"
    >
      <h1 class="text-4xl font-semibold md:text-5xl lg:text-6xl">
        Coming Soon
      </h1>
    </div>
  </section>
  <section class="container mx-auto w-4/5 max-w-7xl py-11 lg:px-11">
    <p class="mb-8">
      More information will be coming soon! Check back for updates.
    </p>
    <a
      href="/"
      rel="prefetch"
      class="rounded-lg bg-amber-300 px-8 py-3 font-semibold text-gray-800"
      >Go Home</a
    >
  </section>
</BaseLayout>
