---
import MainHead from "../components/MainHead.astro";
import CTABar from "../components/CTABar.astro";
import TopNavbar from "../components/TopNavbar.astro";
import Footer from "../components/Footer.astro";
import { name, phoneNumber, tagLinePrefix } from "../data/company";
import { services } from "../data/services";
import Icon from "astro-icon";
---

<html lang="en">
  <head>
    <MainHead />
  </head>
  <body>
    <TopNavbar />
    <!-- <CTABar phone={phoneNumber} /> -->
    <main>
      <section class="bg-gradient bg-amber-400 text-gray-800">
        <div
          class="container mx-auto w-4/5 max-w-7xl space-y-5 py-20 text-center font-title lg:py-32"
        >
          <h1 class="text-5xl font-semibold lg:text-7xl">
            Matranga Development
          </h1>
          <h2 class="text-xl lg:text-3xl">
            Serving small businesses in <br class="lg:hidden" />
            <span id="location" class="font-semibold underline"></span>
          </h2>
        </div>
      </section>

      <section
        class="container mx-auto flex w-4/5 max-w-7xl flex-col items-start text-center lg:flex-row lg:text-left"
      >
        <div class="mx-auto w-60 lg:w-1/2">
          <video autoplay class="mx-auto lg:w-1/2">
            <source src="/assets/coins_stacking.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="mt-10 space-y-6 px-11 lg:mt-0 lg:w-1/2 lg:py-20">
          <h2
            class="font-title text-3xl font-semibold leading-8 text-gray-800 lg:text-4xl"
          >
            We want to help you save <span class="text-amber-500 underline">
              money</span
            >
          </h2>
          <p class="font-title font-medium text-gray-600 lg:text-lg">
            By making the right technology choices for your organization.
            Whether that means helping you select the best existing tools and
            services, or making them from scratch for your exact needs.
          </p>
        </div>
      </section>

      <section
        class="container mx-auto flex w-4/5 max-w-7xl flex-col items-center py-20 text-center lg:flex-row-reverse lg:text-left"
      >
        <div class="mx-auto w-64 lg:w-1/2">
          <img
            src="/assets/man_with_clock.svg"
            alt="Man with clock"
            class="mx-auto w-80"
          />
        </div>
        <div class="space-y-6 px-11 lg:w-1/2">
          <h2
            class="font-title text-3xl font-semibold leading-8 text-gray-800 lg:text-4xl"
          >
            We want to help you save <span class="text-amber-500 underline">
              time</span
            >
          </h2>
          <p class="font-title font-medium text-gray-600 lg:text-lg">
            By automating the processes that you do monthly, weekly, and daily
            to keep your organization running.
          </p>
        </div>
      </section>

      <Footer />

      <script src="https://unpkg.com/typeit@8.7.0/dist/index.umd.js"></script>
      <script>
        import TypeIt from "typeit";

        document.addEventListener("DOMContentLoaded", function () {
          new TypeIt("#location", {
            loop: true,
            speed: 40,
          })
            .type("the NY Capital Region")
            .pause(2000)
            .delete()
            .pause(200)
            .type("Albany")
            .pause(2000)
            .delete()
            .pause(200)
            .type("Troy")
            .pause(2000)
            .delete()
            .pause(200)
            .type("Schenectady")
            .pause(2000)
            .delete()
            .pause(200)
            .type("Saratoga")
            .pause(2000)
            .go();
        });
      </script>
      <style>
        @media screen and (min-width: 1024px) {
          img.ny {
            scale: 1.5;
          }
        }
      </style>

      <style is:global>
        .grid-bg {
          background-image: url("/assets/low-poly-grid-haikei.svg");
        }
        .grid-bg .navbar,
        .grid-bg .hero {
          background-color: transparent;
        }
      </style>
    </main>
  </body>
</html>
