---
import BaseLayout from "../layouts/BaseLayout.astro";
import { name, tagLine } from "../data/company";
---

<BaseLayout>
  <section class="hero is-dark is-halfheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-9">
            <h1 class="title is-size-1 mb-1">{name}</h1>
            <h2 class="is-size-4 mb-5">
              {tagLine}
            </h2>
            <button class="button is-info">Learn More</button>
          </div>
          <div class="column"></div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .hero {
    background-image: url("/assets/low-poly-grid-haikei.png");
  }
</style>
