---
import PageHero from "../components/PageHero.astro";
import Section from "../components/Section.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { examples } from "../data/portfolio";
import ButtonLink from "../components/ButtonLink.astro";
---

<BaseLayout title="Contact Me">
  <PageHero
    title="My Portfolio"
    subtitle="Check out some examples of my work"
  />
  <Section>
    {
      examples.map((example) => (
        <div class="mb-10 flex flex-col items-center rounded-xl bg-amber-100 p-6 lg:flex-row lg:p-12">
          <div class="w-md mb-12 overflow-hidden rounded-lg lg:mb-0 lg:mr-12">
            <video
              class="w-full"
              src="https://test-videos.co.uk/vids/bigbuckbunny/mp4/h264/1080/Big_Buck_Bunny_1080_10s_1MB.mp4"
              controls
            />
          </div>
          <div>
            <h2 class="font-title text-4xl font-semibold xl:text-5xl">
              {example.title}
            </h2>
            <h2 class="font-title text-xl font-medium text-amber-500 xl:text-2xl">
              {example.subtitle}
            </h2>
            <h2 class="text-gray-800">{example.description}</h2>
          </div>
        </div>
      ))
    }
    <ButtonLink href="/contact">Let's Get Started!</ButtonLink>
  </Section>
</BaseLayout>
