---
import { Icon } from "astro-icon";

export interface Props {
  phone: string;
}

const { phone } = Astro.props;
---

<div
  class="top-phone-number-bar has-background-dark has-text-white p-2 is-size-7"
>
  <div class="container is-max-widescreen">
    <small class="icon-text">
      <span class="icon">
        <Icon name="carbon:phone-filled" />
      </span>
      <span class="is-hidden-mobile">
        Call{" "}
        <a class="has-text-white" href={"tel:" + phone}>
          {phone}
        </a>{" "}
        now for a free consultation and quote!
      </span>
      <span class="is-hidden-tablet">
        <a class="has-text-white" href={"tel:" + phone}>
          {phone}
        </a>
      </span>
    </small>
  </div>
</div>
