---
export interface Props {
  phone: string;
}

const { phone } = Astro.props;
---

<div
  class="container mx-auto flex flex-row items-center space-x-2 bg-gray-900 px-5 py-2 text-sm text-white"
>
  <span class="is-hidden-mobile">
    Call <a href={"tel:" + phone}>{phone}</a> now for a free consultation and quote!
  </span>
</div>
