---
import { legalName } from "../data/company";

const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="container">
    &copy; {currentYear}
    {legalName}
  </div>
</footer>
