---
import "@fontsource/oxygen";
import "@fontsource/fira-sans";

import "../styles/theme.scss";
import { name, tagLine } from "../data/company";

export interface Props {
  title: string | undefined;
  description: string | undefined;
}

const { title, description } = Astro.props;

const defaultTitle = name;
const defaultDescription = tagLine;
---

<meta charset="UTF-8" />
<meta
  name="description"
  property="og:description"
  content={description ?? defaultDescription}
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>{title ?? defaultTitle}</title>

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
