---
import { name, tagLine } from "../data/company";

export interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;

const defaultTitle = name;
const defaultDescription = tagLine;
---

<meta charset="UTF-8" />
<meta
  name="description"
  property="og:description"
  content={description ?? defaultDescription}
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>{title ? title + " | " + name : defaultTitle}</title>

<link rel="icon" href="/assets/logo.svg" />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
