---
import { name, tagLine } from "../data/company";

export interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;

const defaultTitle = name;
const defaultDescription = tagLine;
---

<meta charset="UTF-8" />
<meta
  name="description"
  property="og:description"
  content={description ?? defaultDescription}
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>{title ? title + " | " + name : defaultTitle}</title>

<link rel="icon" href="/assets/logo.svg" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
  integrity="sha512-fD9DI5bZwQxOi7MhYWnnNPlvXdp/2Pj3XSTRrFs5FQa4mizyGLnJcN6tuvUS6LbmgN1ut+XGSABKvjN0H6Aoow=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
{
  import.meta.env.PROD && (
    <script
      async
      defer
      src="https://analytics.umami.is/script.js"
      data-website-id="80433981-d475-4563-a171-087f84e1c4dd"
    />
  )
}
