---
import { name } from "../data/company";
---

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" rel="prefetch" href="/">{name}</a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="top-navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="top-navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" rel="prefetch" href="/">Home</a>
        <a class="navbar-item" rel="prefetch" href="/about">About Us</a>
        <a class="navbar-item" rel="prefetch" href="/services">Our Services</a>
        <a class="navbar-item" rel="prefetch" href="/contact">Contact</a>
      </div>
    </div>
  </div>
</nav>
