---
import { name } from "../data/company";

interface NavbarItem {
  label: string;
  href: string;
}

const navbarItems: NavbarItem[] = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "About Us",
    href: "/about",
  },
  {
    label: "Our Services",
    href: "/services",
  },
  {
    label: "Contact",
    href: "/contact",
  },
];

const isActive = (href) => Astro.request.url.endsWith(href);
---

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" rel="prefetch" href="/">{name}</a>

      <a
        role="button"
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="top-navbar"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="top-navbar" class="navbar-menu">
      <div class="navbar-start">
        {
          navbarItems.map((item) => (
            <a
              class:list={[
                "navbar-item underline-holder",
                isActive(item.href) && "is-active",
              ]}
              rel="prefetch"
              href={item.href}
            >
              <span>{item.label}</span>
            </a>
          ))
        }
      </div>
    </div>
  </div>
</nav>
