---
export interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<section class="bg-amber-300 text-gray-800">
  <div
    class="container mx-auto w-4/5 max-w-7xl space-y-5 pb-20 pt-36 text-center font-title lg:pb-16 lg:pt-36"
  >
    <h1 class="text-4xl font-semibold md:text-5xl lg:text-6xl">{title}</h1>

    <h2 class="text-xl">{subtitle}</h2>
  </div>
</section>
