---
import { name } from "../data/company";

interface NavbarItem {
  label: string;
  href: string;
}

const navbarItems: NavbarItem[] = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "About Us",
    href: "/about",
  },
  {
    label: "Contact",
    href: "/contact",
  },
];

const isActive = (href: string) => Astro.request.url.endsWith(href);
---

<nav
  class="fixed inset-x-0 top-0 z-10 mx-auto flex w-full flex-col items-center justify-between bg-white bg-opacity-60 py-3 px-24 font-title text-lg font-semibold text-gray-700 backdrop-blur-[10px] lg:top-7 lg:w-5/6 lg:max-w-7xl lg:flex-row lg:flex-wrap lg:rounded-full lg:py-4"
  role="navigation"
  aria-label="main navigation"
>
  <h1 class="text-xl font-bold">[MD]</h1>
  <div class="hidden w-auto text-center lg:block">
    <ul
      class="flex flex-col space-x-8 space-y-8 text-gray-700 lg:flex-row lg:space-y-0"
    >
      {
        navbarItems.map((item) => (
          <a
            class:list={[isActive(item.href) && "text-amber-500"]}
            rel="prefetch"
            href={item.href}
          >
            <span>{item.label}</span>
          </a>
        ))
      }
    </ul>
  </div>
</nav>
